.profile {
  height: 400px;
  background-image: url("/images/background-pattern.png");
  background-color: #D0AE04;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

/* Tablet Styles */
@media only screen and (max-width: 1024px) {

  .profile {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
  }

}