nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
}

nav span {
  margin: 1.5em;
}

.write-new {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: right;
}

.menu-arrow {
  position: absolute;
  margin: 80px 60px 60px 90%;
  color: #D0AE04;
}

.menu-arrow:hover {
  transform: skew(-15deg);
}