nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  justify-content: space-between;
  z-index: 9999;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
}

nav span {
  margin: 1.5em;
}

.write-new {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: right;
}

.fa-angle-double-down {
  /* height: 100%; */
  /* width: 100%; */
  margin-top: 80px;
  margin-right: 60px;
}