main section {
  font-family: 'Source Sans Pro', sans-serif;
}

main textarea {
  height: 45px;
  width: 100%;
  border-color: #f4f1ec #f4f1ec #333333 #f4f1ec;
  border-bottom-width: 5px;
  background-color: #f4f1ec;
}

.new-tweet {
  display: none;
}

.tweet-submit {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
  transition: background-color .5s;
}

.tweet-submit:hover {
  box-shadow: 0 0 11px #8c9cd4;
}

.counter {
  font-family: 'Bungee', sans-serif;
  float: right;
}

.overMaxChar {
  color: #f00;
}