#tweet-container {
  margin-top: 1em;
}

.tweet {
  border: black solid;
  padding: 1em;
  margin-bottom: 1em;
  transition: background-color .5s;
}

.tweet:hover {
  box-shadow: 0 0 11px	#ffd700;
}

.tweet-username, .tweet-handle {
  display: inline-block;
  margin-top: 0;
}

.tweet-handle {
  float: right;
  opacity: 0.5;
}

.tweet-text {
  width: 100%;
  border-bottom: #000 solid;
  word-wrap: break-word;
}

.tweet-created {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet-flags {
  display: block;
  float: right;
}