#tweet-container {
  margin-top: 1em;
}

.tweet {
  border: black solid;
  padding: 1em;
  margin-bottom: 1em;
  transition: background-color .5s;
}

.tweet:hover {
  box-shadow: 0 0 11px goldenrod;
}

#tweet-container h3, h4 {
  display: inline-block;
  margin-top: 0;
}

#tweet-container h4 {
  float: right;
  opacity: .5;
}

.tweet-text {
  width: 100%;
  text-align: left;
  border-bottom: black solid;
}

#tweet-container footer {
  display: block;
}

#tweet-container footer p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet-flags {
  display: block;
  float: right;
}